////////////////////////////////////////////////////
//
//              Sizes
//
////////////////////////////////////////////////////

$f-sizes: (
  xxxl: 2rem,
  xxl: 1.5rem,
  xl: 1.25rem,
  l: 1.125rem,
  m: 1rem,
  s: 0.875rem,
  xs: 0.75rem,
  xxs: 0.625rem
);
