.view-spices-home {
  #app{
    position: relative;

    &::before{
      content: '';
      
      display: block;
      background: color(light10);

      width: calc(100% / 14 * 6);
      height: 80%;
      left: calc(100% / 14 * 8);
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  .header{
    position: relative;
    z-index: 1;
  }

  .pattern-grid{
    position: absolute;
    top: -2rem;
    left: 0;
    z-index: 1;
    
    width: 100%;
    height: 100%;
  }

  ////////////////////////////////////////////////////
  //
  //	Modules
  //
  ////////////////////////////////////////////////////

  .modules{
    margin-top: 4rem;
  }  

  ////////////////////////////////////////////////////
  //
  //	Footer
  //
  ////////////////////////////////////////////////////
  
  .footer{
    margin-top: 4rem;
  }
}