.view-spices-home {

  .pattern-grid{
    position: absolute;
    top: -2rem;
    left: 0;
    z-index: 1;
    
    width: 100%;
    height: 100%;
  }

  ////////////////////////////////////////////////////
  //
  //	Modules
  //
  ////////////////////////////////////////////////////

  .modules{
    @include bg(primary90);
    @include pt(xxl);
    margin-top: 2rem;
  }  

  .modules__intro{
    padding-left: calc(100vw / 14 * 1);
    padding-right: calc(100vw / 14 * 1);
    
    @include media('>m'){
      padding-left: calc(100vw / 14 * 2);
      padding-right: calc(100vw / 14 * 2);
    }
    
    @include media('>l'){
      max-width: calc(100vw / 14 * 10);
    }
  }

  .modules__title{
    @include body1;
    @include f(white);
    opacity: .5;
  }

  .modules__subtitle{
    @include heading1;
    @include f(white);
  }

  .modules__description{
    @include mt(m);

    @include body1;
    @include f(white);
    opacity: .5;
  }

  .modules__slider{
    width: 100%;
    overflow: auto;

    @include b-relative;
    top: 2rem;
  }

  .modules__slider-inner{
    @include b-flex;
    padding-left: calc(100vw / 14 * 1);
    
    & > * + *{
      @include ml(m);
    }
    
    &::after{
      content: '';
      
      @include b-block;
      min-width: calc(100vw / 14 * 1);
    }
    
    @include media('>m'){
      padding-left: calc(100vw / 14 * 2);
      
      &::after{
        min-width: calc(100vw / 14 * 2);
      }
    }
  }

  ////////////////////////////////////////////////////
  //
  //	Values
  //
  ////////////////////////////////////////////////////
  .values{
    @include b-flex;
    @include b-flex(column);
    
    @include media('>m'){
      @include b-flex(row);
    }
  }
  
  .values__intro{
    padding-left: calc(100vw / 14 * 1);
    padding-right: calc(100vw / 14 * 1);
    min-width: 50%;
    max-width: 25rem;

    @include media('>m'){
      padding-left: calc(100vw / 14 * 2);
    }
  }
  
  .values__intro-inner{
    @include b-sticky;
    @include t(0);
    padding: 4rem 0;
  }

  .values__title{
    @include body1;
    @include f(light80);
    opacity: .5;
  }

  .values__subtitle{
    @include heading1;
    @include f(light80);
  }

  .values__items{
    counter-reset: values;
  }

  .values__item{
    padding-right: calc(100vw / 14 * 1);
    @include py(xxl);
  }

  .values__value{
    @include b-flex;
    @include b-flex(baseline);

    @include f(xxl);
    @include f(medium);
    @include f(light90);
    line-height: 1.25;

    &::before{
      counter-increment: values;
      content: "0"counter(values);
      @include mr(m);

      @include body1;
      @include f(light40);
      font-weight: 300;
    }
  }

  .values__description{
    @include mt(xxs);
    padding-left: 2.25rem;

    @include f(xxl);
    @include f(light50);
    font-weight: 400;
  }
}