a.card{
  $root: '.card';

  @include b-block;

  text-decoration: none;
  @include f(light90);

  ////////////////////////////////////////////////////
  //
  //	Header
  //
  ////////////////////////////////////////////////////
  #{$root}__header{
    @include b-flex;
    @include b-flex(middle);
    @include b-flex(center);

    border: 2px solid $light20;
    @include bg(blue00);
    border-radius: 4px;

    height: 0;
    padding-top: 56.25%;
    @include b-relative;

    @include td(s);
  }

  #{$root}__illustration{
    object-fit: contain;
    height: 80%;
    width: 80%;

    @include b-absolute;
    top: 10%;
    left: 10%;

    @include td(s);
  } 

  #{$root}__cta{
    @include b-absolute;
    @include t(50);
    @include l(50);
    transform: translate(-50%, -150%);
    opacity: 0;
    
    @include px(s);
    @include py(xs);
    border-radius: 4rem;
    @include bg(light20);

    @include f(center);

    @include td(s);
  }

  ////////////////////////////////////////////////////
  //
  //	Body
  //
  ////////////////////////////////////////////////////

  #{$root}__body{
    @include mt(m);
    width: 80%;
    max-width: 20rem;
  }

  #{$root}__group{
    @include b-flex;
    @include b-flex(baseline);
  }

  #{$root}__title{
    @include f(medium);
    @include f(l);
  }

  #{$root}__version{
    @include b-flex;
    @include b-flex(baseline);

    @include ml(xs);
    @include p(xs);
    border-radius: 2px;

    @include body2;
    @include f(light50);

    &::before{
      content: '';

      @include b-block;
      width: .25rem;
      height: .25rem;
      border-radius: 50%;
      @include bg(light30);
      @include mr(s);
      line-height: 0;
    }
  }

  #{$root}__description{
    @include body2;
    @include f(light50);
  }

  ////////////////////////////////////////////////////
  //
  //	Interactive
  //
  ////////////////////////////////////////////////////

  &:hover,
  &:focus{
    text-decoration: none;

    #{$root}__illustration{
      filter: blur(4px);
    }

    #{$root}__cta{
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    #{$root}__header{
      @include bc(blue50);
    }

    #{$root}__title{
      @include f(blue50);
    }
  }
}