.header{
  $root: '.header';

  padding: 2rem 0;

  .container{
    @include b-flex;
    @include b-flex(between);
    @include b-flex(baseline);
  }

  ////////////////////////////////////////////////////
  //
  //	First
  //
  ////////////////////////////////////////////////////
  #{$root}__first{
    @include b-flex;
    @include b-flex(middle);

    text-decoration: none;
  }

  #{$root}__title{
    @include ml(s);
  }

  #{$root}__logoglyph{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }

  #{$root}__logoparent{
    @include f(m);
    @include f(medium);
    @include f(blue90);
    opacity: .5;
  }
  
  #{$root}__logotype{
    @include f(xxxl);
    @include f(blue90);
    @include f(medium);
    line-height: .75;
  }

  ////////////////////////////////////////////////////
  //
  //	Second
  //
  ////////////////////////////////////////////////////

  #{$root}__second{
    & > * + * {
      @include ml(m);
    }
  }

  #{$root}__cta{
    border: 0;
    background: 0;

    @include f(m);
    @include f(light50);
    text-decoration: none;
    @include ui(pointer);

    &:hover,
    &:focus{
      @include f(blue50);
      text-decoration: none;
    }
  }
}