.hero{
  $root: '.hero';

  @include b-relative;
  padding-top: 10rem;
  min-height: 4rem * 9;

  ////////////////////////////////////////////////////
  //
  //	Content
  //
  ////////////////////////////////////////////////////

  #{$root}__content{
    @include f(light90);
    padding-left: calc(100vw / 14 * 1);
    width: calc(100vw / 14 * 12);
    @include b-relative;
    @include z(2);
    
    & > * + * {
      @include mt(m);
    }
    
    @include media('>s'){
      padding-left: calc(100vw / 14 * 2);
      width: calc(100% / 12 * 8);
    }

    @include media('>l'){
      width: calc(100% / 12 * 6);
    }
  }

  #{$root}__title{
    @include heading1;
  }

  #{$root}__description{
    @include body1;
    opacity: .6;

    a{
      @include f(light90);
      font-weight: 600;
    }
  }

  #{$root}__note{
    @include body2;
    @include f(light40);
  }

  ////////////////////////////////////////////////////
  //
  //	Pattern
  //
  ////////////////////////////////////////////////////
  #{$root}__pattern{
    @include b-absolute;
    @include t(0);
    @include l(0);
    @include z(1);
  }

  .pattern-line{
    $width: 4rem;

    &:nth-child(1){
      left: calc(100vw / 14 * 1);
      display: none;
  
      @include media('>m'){
        display: block;
      }
    }
    &:nth-child(2){
      left: calc(100vw / 14 * 2);
      display: none;

      @include media('>m'){
        display: block;
      }
    }
    &:nth-child(3){
      left: calc(100vw / 14 * 9);
      display: none;

      @include media('>l'){
        display: block;
      }
    }
    &:nth-child(4){
      left: calc(100vw / 14 * 10);
    }
    &:nth-child(5){
      left: calc(100vw / 14 * 11);
      display: none;

      @include media('>l'){
        display: block;
      }
    }
    &:nth-child(6){
      left: calc(100vw / 14 * 12);
    }
    &:nth-child(7){
      left: calc(100vw / 14 * 14);
      display: none;

      @include media('>l'){
        display: block;
      }
    }
  }
}