.hero{
  $root: '.hero';

  @include b-relative;
  padding-top: 10rem;
  height: 4rem * 8;

  ////////////////////////////////////////////////////
  //
  //	Content
  //
  ////////////////////////////////////////////////////

  #{$root}__content{
    @include f(light90);
    padding-left: calc(100vw / 14 * 2);

    & > * + * {
      @include mt(m);
    }

    @include media('>m'){
      width: calc(100% / 12 * 6);
    }

    @include media('>l'){
      width: calc(100% / 12 * 6);
    }
  }

  #{$root}__title{
    @include heading1;
  }

  #{$root}__description{
    @include body1;
    opacity: .6;
  }

  ////////////////////////////////////////////////////
  //
  //	Pattern
  //
  ////////////////////////////////////////////////////
  #{$root}__pattern{
    @include b-absolute;
    @include t(0);
    @include l(0);
    
  }

  .pattern-line{
    $width: 4rem;

    &:nth-child(1){
      left: calc(100vw / 14 * 1)
    }
    &:nth-child(2){
      left: calc(100vw / 14 * 2)
    }
    &:nth-child(3){
      left: calc(100vw / 14 * 9)
    }
    &:nth-child(4){
      left: calc(100vw / 14 * 10)
    }
    &:nth-child(5){
      left: calc(100vw / 14 * 11)
    }
    &:nth-child(6){
      left: calc(100vw / 14 * 12)
    }
    &:nth-child(7){
      left: calc(100vw / 14 * 14)
    }
  }
}